<h1 class="text-center">TODO</h1>
<div class="row">
  <% if current_user %>
    Hello, <strong><%= current_user.name %></strong>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<% if current_user %>
  <div class="row">
    <span>Something needs to be here</span>
  </div>
<% end %>
